@font-face {
    font-family: "normal";
    src: url("./../../../fonts/Heebo-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "normal";
}


.presentProject {
    width: 100vw;
    height: calc(350px + 20vw);
    background-color: #a2faff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentProject h1 {
    font-size: 6rem;
    color: black;
}

.presentProject p {
    font-size: 2rem;
    text-align: center;
}

.btnDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.presentProject a {
    margin-top: 10vw;
    width: calc(10vw + 100px);
    height: 40px;
    border-radius: 10px;
    background: none;
    border: 2px solid #000;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s;
}

.presentProject a:hover {
    background-color: #000;
    color: #fff;
}


.tools {
    width: 100vw;
    height: calc(150px + 5vw);
    box-shadow: 0px 3px 6px #00000029;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tools img {
    width: calc(60px + 5vw);
}


.projectImg {
    width: 100vw;
    height: calc(400px + 30vw);
    background-color: #e5feff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.projectImg img {
    width: 70vw;
}


footer {
    width: 100vw;
    height: 80px;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 100px;
    border-bottom: 5px solid #46f1fa;
}



/* --------------------------RESPONSIVE-------------------------- */
/* --------------------------RESPONSIVE-------------------------- */
/* --------------------------RESPONSIVE-------------------------- */

@media (max-width:1020px) {
    .presentProject h1 {
        font-size: 5rem;
    }

    .presentProject p {
        font-size: 1rem;
    }

    footer {
        padding-left: 50px;
        font-size: 1rem;
    }
}

@media (max-width:700px) {
    .presentProject h1 {
        font-size: 3rem;
    }

    .presentProject p {
        font-size: 0.7rem;
    }

    .presentProject button {
        margin-top: 5vw;
        width: calc(10vw + 100px);
        height: 6vw;
        font-size: 0.7rem;
    }

    .presentProject button+button {
        width: calc(10vw + 50px);
    }

    .projectImg {
        height: calc(200px + 30vw)
    }

    footer {
        font-size: 0.8rem;
        padding-left: 20px;
    }
}