@font-face {
    font-family: "regular";
    src: url("./fonts/Merriweather-Black.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "regular";
}

body {
    overflow-x: hidden;
    background-color: #303030;
}

#DONT_CLICK_WRAPPER {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

/* content div */
#content {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

/* score */
#scoresBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    order: 1;
}

.scoreH1 {
    font-size: 3rem;
    color: white;
    position: relative;
}

/* squars div */
#squars {
    width: 40vw;
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(2fr, 20vw);
    grid-template-rows: repeat(2fr, 20vw);
    gap: 10px;
    margin: 0 auto;
    margin-top: 25px;
    order: 2;
}

#redBlock {
    grid-row: 1;
    grid-column: 1;
}

#blueBlock {
    grid-row: 1;
    grid-column: 2;
}

#yellowBlock {
    grid-row: 2;
    grid-column: 1;
}

#greenBlock {
    grid-row: 2;
    grid-column: 2;
}

#squars .block {
    cursor: pointer;
    border-radius: 15px;
}

#squars .block:active {
    scale: 0.9;
}

/* start btn */
#startDiv {
    width: 10vw;
    height: 3vw;
    margin: 0 auto;
    margin-top: 5vw;
}

#startBtn {
    width: 10vw;
    height: 3vw;
    cursor: pointer;
    background-color: #ff4fff;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    position: relative;
    z-index: 9999;
    transition: background-color 0.2s, scale 0.2s;
}

#startBtn:hover {
    background-color: magenta;
    scale: 1.1;
}

/* lost div */
#lostDiv {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    opacity: 0;
    transition: opacity 0.2s;
}

#lostDiv h1 {
    color: #000;
    font-size: 2rem;
    order: 1;
}

#lostDiv h1+h1 {
    order: 2;
}

#lostDiv button {
    width: 15vw;
    height: 3vw;
    font-size: 2vw;
    cursor: pointer;
    margin: 0 auto;
    background-color: mediumseagreen;
    color: white;
    border: none;
    border-radius: 10px;
    transition: scale 0.2s;
    order: 3;
}

@keyframes colorAnimation {
    0% {
        background-color: green;
        color: white;
    }

    50% {
        background-color: yellow;
        color: #000;
    }

    100% {
        background-color: green;
        color: white;
    }
}

#lostDiv button:hover {
    animation: colorAnimation 5s infinite;
    scale: 1.1;
}

/* Warning div */
#warning {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#warning p {
    color: white;
}

#warning button {
    width: 10vw;
    height: 3vw;
    font-size: 2rem;
    background-color: green;
    border: none;
    cursor: pointer;
}



@media (max-width:910px) {
    #startBtn {
        font-size: 0.8rem;
    }

    .scoreH1 {
        font-size: 1.5rem;
    }

    #lostDiv button {
        width: 20vw;
        height: 4vw;
        font-size: 3vw;
    }
}

@media (max-width:470px) {
    #startBtn {
        font-size: 0.5rem;
    }

    #lostDiv button {
        width: 30vw;
        height: 6vw;
        font-size: 5vw;
    }

    .scoreH1 {
        font-size: 1rem;
    }
}